<!doctype html>
      <html>
        <head>
          <meta charset="utf-8">
          <title>About</title>
          <link rel="stylesheet" href="/stylesheets/style.css" />
        </head>
        <body>
          <style>
            body {
              background-image: url('/images/brothers.jpeg');
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
            </style>
            <div>
          <h1 id="about">Klitschko Family</h1>
          </div>
          <div id="wikiImages">
        <img id="img1" src="./images/vitalyWiki.png">
        <img id="img2" src="./images/wladimirWiki.png">
          </div>

          <a id="homeButton" href="/home">Home</a>
        </body>
      </html>