<!doctype html>
      <html>
        <head>
          <meta charset="utf-8">
          <title>Home</title>
          <link rel="stylesheet" href="/stylesheets/style.css" />
        </head>
        <body>
            <style>
                body {
                  background-image: url('./images/brothers1.jpeg');
                  background-repeat: no-repeat;
                  background-attachment: fixed;
                  background-size: cover;
                }
                </style>
                <div id="header">
          <h1 id="meet">Meet Brothers Klitschko</h1>
        </div>
          <div id="navigation">
          <a href="/about">About</a>
          <a href="/titles">Titles</a>
          <a href="/gallery">Photos</a>
          </div>
        </body>
      </html>