<!doctype html>
      <html>
        <head>
          <meta charset="utf-8">
          <title>Home</title>
          <link rel="stylesheet" href="/stylesheets/style.css" />
        </head>
        <body>
          <h1 id="titlesHeader">Titles</h1>
          <div id="titlesBoth">
            <img height="400px" width="650px" id="titlesW" src="/images/titlesW.jpeg" alt="titlesW" >
          <div class="titles">
             <a href="https://en.wikipedia.org/wiki/Wladimir_Klitschko">Wladimir titles</a>
            </div>
            <img height="400px" width="650px" id="titlesV" src="/images/titlesV.png" alt="titlesV" >
            <div class="titles">
              
              <a href="https://en.wikipedia.org/wiki/Vitali_Klitschko">Vitaliy titles</a>
            </div>
          </div>
          <a id="homeButton2" href="/home">Home</a>
        </body>
      </html>